<div style="display:flex; gap:20px; margin-bottom:6px; margin-left:10px;">

    <h2>All Tickets</h2>

</div>

<table border="1" cellpadding="10">
    <tr>
        <th>Sender</th>
        <th>Subject</th>
        <th>Status</th>
        <th>Date</th>
    </tr>

    {% for ticket in tickets %}
    <tr onclick="window.location='/admin/{{ticket.id}}'"
        style="cursor:pointer;">

        <td>{{ticket.sender}}</td>
        <td>{{ticket.subject}}</td>
        <td>{{ticket.processing_status}}</td>
        <td>{{ticket.created_at}}</td>

    </tr>
    {% endfor %}
</table>